body {
    background-color: rgb(21, 21, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(244, 244, 244);
    margin: 62px;
}

.header {
    text-align: left;
}

.avatar {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 12px;
}

.headerTitle {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0px;
}
.headerSubtitle {
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 24px;
}

main {
    border: 1px solid rgb(48, 48, 48);
    text-align: left;
    border-radius: 24px;
    padding: 24px;
    padding-top: 10px;
    background-color: rgb(0, 0, 0);
}

.skills ol {
    list-style-type: none;
    padding: 0;
}

.divider {
    border: none;
    height: 1px;
    background-color: rgb(48, 48, 48);
    margin: 32px 0;
    width: full;
}

.dropDown {
    background-color: rgb(21, 21, 21);
    color: rgb(244, 244, 244);
    border-radius: 12px;
    padding: 24px;
}

.gallery {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    gap: 12px;
  /* «Автоматически заполняй строку элементами минимум 200px, 
     а если есть место — растягивай до 1fr» */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

.img {
    max-width: auto;
    height: 340px;
    border-radius: 6px;
    display: block;
    object-fit: contain;
}

.imageWrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;;
}

.video {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 6px;
    aspect-ratio: 16 / 9;
}

.edTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
}

.edTable th, 
.edTable td{
    border: 1px solid rgb(0, 0, 0);
    padding: 16px;
    background-color: rgb(21, 21, 21);
}

.quote {
    font-style: italic;
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: none;
    border-width: none;
    border-radius: 12px;
    padding: 0px;
    padding-top: 0px;
}

.formFieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.formButton {
    background-color: rgb(255, 167, 36);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    padding: 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.formButton:hover {
    background-color: rgb(255, 203, 124);
}

.label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(138, 138, 138);
}

.input {
    background-color: rgb(48, 48, 48);
    color: rgb(244, 244, 244);
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

footer {
    text-align: left;
    margin-top: 24px;
    color: rgb(138, 138, 138);
    background-color: rgb(0, 0, 0);
    padding: 24px;
    border-radius: 24px;
    border-width: 1px;
    border-color: rgb(34, 34, 34);
    border-style: solid;
}

.ref {
    color: rgb(255, 167, 36);
    text-decoration: none;
}

.ref:hover {
    text-decoration: underline;
}